%% -*- mode: erlang -*-
%% RabbitMQ Sample Configuration File.
%% See http://www.rabbitmq.com/configure.html for details.

[
  {rabbit,
    [
     %% How to respond to cluster partitions.
     %% See http://www.rabbitmq.com/partitions.html
     {cluster_partition_handling, {pause_if_all_down,  ['rabbit@rabbitmq03'], ignore}}
    ]
  }
].