{
  "ROSTemplateFormatVersion": "2015-09-01",
  "Description": "创建一个ecs实例",
  "Resources": {
    "{{ resource_name }}": {
      "Type": "ALIYUN::ECS::Instance",
      "Properties": {
        "ImageId": "{{ image_id }}",
        {% if instance_type -%}
        "InstanceType": "{{ instance_type }}",
        {% else -%}
        "InstanceType": "ecs.sn2.medium",
        {%- endif %}
        "Password": "{{ password }}",
        "HostName": "{{ hostname }}",
        "AllocatePublicIP": false,
        "PrivateIpAddress": "{{ private_ip_addr }}",
        "IoOptimized": "optimized", {# none|optimized #}
        "SystemDiskCategory": "cloud_ssd", {# cloud|cloud_efficiency|cloud_ssd|ephemeral_ssd#}
        "Tags": [{"Key":"project_id","Value":"{{ project_id }}"}],
        "ZoneId": "{{ zone_id }}",
        "VpcId":"{{ vpc_id }}",
        "VSwitchId":"{{ vswitch_id }}",
        "SecurityGroupId": "{{ security_group_id }}",
        "DiskMappings": [{
            "Size": "100",
            "Category": "cloud"
        }],
        "InstanceChargeType": "Prepaid",
        "Period": {{ period }},
      }
    }
  },

  "Outputs": {
    "InstanceId": {
      "Value": {
        "Fn::GetAtt": ["{{ resource_name }}", "InstanceId"]
      }
    },
    "InnerIp": {
      "Value": {
        "Fn::GetAtt": ["{{ resource_name }}", "InnerIp"]
      }
    },
    "HostName": {
      "Value": {
        "Fn::GetAtt": ["{{ resource_name }}", "HostName"]
      }
    }
  }
}